$color-white: #FFF;
$color-black: #141024;
$color-red: #D52027;

$font-family: 'Jost', sans-serif;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);